<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Show Person</title>
</head>
<body>
<nav>
    <div class="nav-wrapper deep-orange lighten-1">
        <a href="/" class="brand-logo center">Library</a>
    </div>
</nav>
<div class="container">
    <h3 th:text="'Full Name : '+${person.fullName}"></h3>
    <h3 th:text="'Year Of Birth : '+${person.yearOfBirth}"></h3>
    <hr style="color: #00e5ff;">
    <div th:if="${books.isEmpty()}">
        <h4>The person has not taken any books yet.</h4>
    </div>
    <div th:unless="${books.isEmpty()}" >
        <h3>Books:</h3>
        <h4 th:each="book , row : ${books}"  th:style = "${book.isOverdue()} ? 'color: red' " th:text="${row.index+1}+'. '+${book.getTitle()+', '+book.getAuthor()+', '+book.getYear()}"></h4>
    </div>
    <br>
    <a class="waves-effect waves-light btn deep-orange lighten-1" th:href="@{|/people/${person.id}/edit|}"
       th:text="Update">Update</a>
    <a class="waves-effect waves-light btn purple darken-3" th:href="@{|/people/${person.id}/delete|}"
       th:text="Delete">Delete</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>